# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

resources/desktop.ini

.vs/

.qmake.stash

debug/

release/

src/GUI/ui_mainwindow.h

ui_mainwindow.h

test.vcxproj

test.vcxproj.filters

test.vcxproj.user

test.pro.user
