# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

resources/desktop.ini

.vs/app7/v15/.suo

.qmake.stash

.vs/app7/v15/Browse.VC.db

app7.pro.user

app7.vcxproj

app7.vcxproj.filters

app7.vcxproj.user

debug/

release/

src/GUI/ui_mainwindow.h

ui_mainwindow.h

.vs/test/v15/

test.vcxproj

test.vcxproj.filters

test.vcxproj.user
